<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src="angular.min.js"></script>
	<script src="app.js"></script>
	<title>Custom Service</title>
</head>
<body ng-app="ShoppingList">
	<h1>Custom Service</h1>
	<div ng-controller="AddShoppingListController as itemAdder">
		<input type="text" placeholder="item" ng-model="itemAdder.itemName">
		<input type="text" placeholder="quantity" ng-model="itemAdder.itemQuantity">
		<button ng-click="itemAdder.addItem();"> add item</button>
	</div>
	<div ng-controller="ShoppingListShowController as showItem">
		<ol>
			<li ng-repeat="item in showItem.items">
				{{item.quantity}} of {{item.name}}
				<button ng-click="showItem.removeItem($index);"> remove item</button>
			</li>
			
		</ol>
	</div>
</body>
</html>