<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src="angular.min.js"></script>
	<script src="app.js"></script>
	<title>Using $http Service</title>
</head>
<body ng-app="MenuCategoriesApp">
	<h1>Using $http Service</h1>
	<div ng-controller="MenuCategoriesController as menu">
		<h3>list of Menu Categories</h3>
		<ul>
			<li ng-repeat="category in menu.categories">
				(<a href="" ng-click="menu.logMenuItem(category.short_name)">{{category.short_name}}</a>)
				{{category.name}}
			</li>
		</ul>
	</div>
</body>
</html>